.header {
    background-color: #102E39;
    height: 80px;
}

.nameCopani{
    background-color: rgb(81, 199, 200);
    width: 300px;
    height: 90px;
    transform:matrix(1, 0, -0.674509, 1, -30, 0)
}

.custom-button {
    background: none;
    border: none;
}