<div class="header">
    <nav class="nav d-flex justify-content-between align-items-baseline">
        <div>
            <a class="nav-link navbar-brand" [routerLink]="['dashboard']" aria-current="page">سایان رایان</a>
        </div>
        <div>
            <button class="custom-button" (click)="logout()">Log out</button>
            <button class="custom-button" (click)="navOpen()">
                <img src="assets/menu_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            </button>
        </div>
    </nav>
</div>