<div class="header">

    <nav class="nav d-flex justify-content-between align-items-center">

        <div class="nameCopani  d-flex justify-content-end align-items-center">

            <a class="nav-link navbar-brand fs-3 pe-5 text-light fw-bold" [routerLink]="['dashboard']"
                aria-current="page">سایان رایان</a>

        </div>

        <div class="me-4">
            <button class="custom-button text-white" (click)="logout()" *ngIf="isUserLoggedInCheck()">
                Log out
            </button>
            <button class="custom-button" (click)="navOpen()">
                <img src="assets/menu.png" alt="" />
            </button>
        </div>
    </nav>
</div>