<div class="container mb-5">
    <!-- Buttons to choose list or grid view -->
    <button (click)="listView()" class="btn btn-default">
        <img src="assets/list.svg" alt="">
    </button>
    <button (click)="gridView()" class="btn btn-default">
        <img src="assets/grid.svg" alt="">
    </button>

    <div class="row">
        <div class="column" style="background-color:#aaa;" *ngFor="let patient of patients">
            <h2>{{ patient.name }}</h2>
            <p>Description : {{ patient.description }}</p>
            <p>phone number : {{ patient.phoneNumber }}</p>
            <p>visit date : {{ patient.visitDate | date : "yyyy/MM/dd" }}</p>
        </div>
    </div>
</div>