<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Patient List using HTML tables</h2>
        </div>
        <div class="d-flex justify-content-center mt-5 col-12">
            <table class="">
                <thead>
                    <tr class="border-bottom">
                        <th>Patient</th>
                        <th>description</th>
                        <th>phone number</th>
                        <th>visit date</th>
                        <th>Cancel</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-cell="patient">Ali najafian</td>
                        <td data-cell="description">mariz shode</td>
                        <td data-cell="phone number">09188181128</td>
                        <td data-cell="visit date">emrooz</td>
                        <td data-cell="cancel"><button class="btn btn-danger">Cancel</button></td>
                        <td data-cell="edit"><button class="btn btn-info">Edit</button></td>
                    </tr>
                    <tr>
                        <td data-cell="patient">Ali najafian</td>
                        <td data-cell="description">mariz shode</td>
                        <td data-cell="phone number">09188181128</td>
                        <td data-cell="visit date">emrooz</td>
                        <td data-cell="cancel"><button class="btn btn-danger">Cancel</button></td>
                        <td data-cell="edit"><button class="btn btn-info">Edit</button></td>
                    </tr>
                    <tr>
                        <td data-cell="patient">Ali najafian</td>
                        <td data-cell="description">mariz shode</td>
                        <td data-cell="phone number">09188181128</td>
                        <td data-cell="visit date">emrooz</td>
                        <td data-cell="cancel"><button class="btn btn-danger">Cancel</button></td>
                        <td data-cell="edit"><button class="btn btn-info">Edit</button></td>
                    </tr>
                    <tr>
                        <td data-cell="patient">Ali najafian</td>
                        <td data-cell="description">mariz shode</td>
                        <td data-cell="phone number">09188181128</td>
                        <td data-cell="visit date">emrooz</td>
                        <td data-cell="cancel"><button class="btn btn-danger">Cancel</button></td>
                        <td data-cell="edit"><button class="btn btn-info">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container d-flex justify-content-start mt-2 mb-5">
            <button class="btn btn-info" (click)="openAddPanel()">
                Add
            </button>
        </div>
    </div>
</div>
<div class="modal" id="modal">
    <div class="card row inner p-3">
        <div class="col-12 mx-0 align-self-start">
            <button class="btn btn-default custom-button" (click)="closeModal()">
                <img src="assets/close.svg" alt="">
            </button>
        </div>
        <div class="col-12">
            <label>Patient name</label>
        </div>
        <div class="col-6">
            <input type="text" placeholder="John Doe">
        </div>
        <div class="col-12">
            <label>Description</label>
        </div>
        <div class="col-6">
            <input type="text" placeholder="Sick">
        </div>
        <div class="col-12">
            <label>Phone number</label>
        </div>
        <div class="col-6">
            <input type="text" placeholder="09188181128">
        </div>
        <div class="col-12">
            <label>visit date</label>
        </div>
        <div class="col-6">
            <input type="text" placeholder="1380/12/28">
        </div>
        <div class="mt-2">
            <button class="btn btn-success me-2">Add</button>
            <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>