table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #b1b1b1;
}

@media (max-width: 548px) {
    th {
        display: none;
    }

    td {
        display: block;
    }

    td::before {
        font-weight: 700;
        text-transform: capitalize;
        content: attr(data-cell) ": ";
    }
}