<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 justify-content-center d-flex">
            <div>
                <h2>Sign in</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="border rounded p-2 mt-5">
                <div class="d-flex col-12 p-2 align-items-baseline">
                    <label for="user" class="p-1">username</label>
                    <div class="customized-div rounded">
                        <input class="ms-2 custom-input" [(ngModel)]="username" type="text" name="username">
                    </div>
                </div>
                <div class="d-flex col-12 p-2 align-items-baseline">
                    <label for="password" class="p-1">password</label>
                    <div class="customized-div rounded d-flex align-items-baseline">
                        <input id="password" class="ms-2 custom-input" type="password" name="password">
                        <button type="button" class="btn btn-light custom-button" (click)="togglePasswordVisibility()">
                            <img id="my-image" src="assets/Enable.svg" alt="" class="img-fluid my-image">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <button class="btn btn-success" (click)="signIn()">Login</button>
        </div>
    </div>
</div>