.custom-input {
    outline: none;
    background: none;
    border: none;
}

.custom-input:focus {
    outline: none;
}

.customized-div {
    border: solid black 1px;
    width: 100%;
}

.hidden {
    display: none;
}

.custom-button {
    padding: 0;
    height: 28px;
    width: 28px;
}