<div class="container">
    <div class="row justify-content-center">
      
        <div class="d-flex justify-content-center ">
            <div class=" col-12 col-xl-4  rounded p-2 mt-5" >

                <div class=" col-12 p-2 align-items-baseline ">
                    <label for="user" class="fw-bold text-body-tertiary">Username</label>
                    <div class="customized-div  ">
                        <input class=" custom-input" [(ngModel)]="username" type="text" name="username">
                    </div>
                </div>
                <div class="col-12  p-2 align-items-baseline">
                    <label for="password" class="fw-bold text-body-tertiary">Password</label>
                    <div class="customized-div  d-flex justify-content-between">
                        <input id="password" class=" custom-input" type="password" name="password">
                        <button type="button" class="btn btn-light custom-button" (click)="togglePasswordVisibility()">
                           
                              <img id="my-image" src="assets/Enable.svg" alt="" class=" img-fluid my-image ">
                           
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button-login -->
         
        <div class="justify-content-center d-flex ">
            <button class="btn-login mt-5 p-2 rounded-5 fw-bold text-light " (click)="signIn()">Login</button>
        </div>

        <!-- Button-signin -->
        <div class="justify-content-center d-flex">
            <button class="btn-signin mt-3 p-2 rounded-5 fw-bold " (click)="signIn()">Sign in</button>
        </div>

            
    </div>
</div>